# found @ http://www.wussu.com/poems/agh.htm
NNP:::Howl
:::
IN NNP NNP:::For Carl Solomon
:::
#I
:::
NN VBD DT JJS NNS IN PRP$ NN VBN IN NN , VBG JJ JJ ,:::I saw the best minds of my generation destroyed by madness, starving hysterical naked,
:::
VBG PRP IN DT NNP NNS IN NN VBG IN DT JJ VB ,:::dragging themselves through the negro streets at dawn looking for an angry fix,
:::
VBN NN VBG IN DT JJ RB NN TO DT NN NN IN DT NN IN NN ,:::angelheaded hipsters burning for the ancient heavenly connection to the starry dynamo in the machinery of night,
:::
WP NN CC NNS CC VBN CC JJ VBD IN VBG IN DT JJ NN IN NN NNS VBG IN DT NNS IN NNS VBG NN ,:::who poverty and tatters and hollow-eyed and high sat up smoking in the supernatural darkness of cold-water flats floating across the tops of cities contemplating jazz,
:::
WP VBD PRP$ NNS TO NNP IN DT NNP CC VBD NN NNS JJ IN NN NNS VBN ,:::who bared their brains to Heaven under the El and saw Mohammedan angels staggering on tenement roofs illuminated,
:::
WP VBN IN NNS IN JJ NNS VBG NNP CC NN NN IN DT NNS IN NN ,:::who passed through universities with radiant eyes hallucinating Arkansas and Blake-light tragedy among the scholars of war,
:::
WP VBD VBN IN DT NNS IN JJ CC VBG JJ NNS IN DT NNS IN DT NN ,:::who were expelled from the academies for crazy & publishing obscene odes on the windows of the skull,
:::
WP VBN IN JJ NNS IN NN , VBG PRP$ NN IN NN CC VBG TO DT NN IN DT NN ,:::who cowered in unshaven rooms in underwear, burning their money in wastebaskets and listening to the Terror through the wall,
:::
WP VBD JJ IN PRP$ NN NNS VBG IN NNP IN DT NN IN NN IN NNP NNP ,:::who got busted in their pubic beards returning through Laredo with a belt of marijuana for New York,
:::
WP VBD NN IN NN NNS CC VBD NN IN NNP NNP , NN , CC VBN PRP$ NNS NN IN NN:::who ate fire in paint hotels or drank turpentine in Paradise Alley, death, or purgatoried their torsos night after night
:::
IN NNS , IN NNS , IN VBG NNS , NN CC NN CC JJ NNS ,:::with dreams, with drugs, with waking nightmares, alcohol and cock and endless balls,
:::
JJ JJ NNS IN VBG NN CC VBG IN DT NN VBG IN NNS IN NNP CC NNP , JJ DT DT JJ NN IN NNP IN ,:::incomparable blind streets of shuddering cloud and lightning in the mind leaping towards poles of Canada & Paterson, illuminating all the motionless world of Time between,
:::
NN NN IN NNS , NN JJ NN NN VBZ , NN NN IN DT NNS , NN NNS IN NN NN NN JJ NN NN , NN CC NN CC NN NNS IN DT VBG NN NN IN NNP , NN NNS CC NN VBG NN IN NN ,:::Peyote solidities of halls, backyard green tree cemetery dawns, wine drunkenness over the rooftops, storefront boroughs of teahead joyride neon blinking traffic light, sun and moon and tree vibrations in the roaring winter dusks of Brooklyn, ashcan rantings and kind king light of mind,
:::
WP VBD PRP TO NNS IN DT JJ VB IN NNP TO RB NNP IN NN IN DT NN IN NNS CC NNS VBN PRP RB VBG VBN CC VBN JJ IN NN DT VBN IN NN IN DT NN NN IN NNP ,:::who chained themselves to subways for the endless ride from Battery to holy Bronx on benzedrine until the noise of wheels and children brought them down shuddering mouth-wracked and battered bleak of brain all drained of brilliance in the drear light of Zoo,
:::
WP VBD DT NN IN NN NN IN NNP " PRP VBD IN CC VBD IN DT JJ NN NN IN JJ NN " PRP , VBG TO DT NN IN NN IN DT NN NN ,:::who sank all night in submarine light of Bickford's floated out and sat through the stale beer afternoon in desolate Fugazzi's, listening to the crack of doom on the hydrogen jukebox,
:::
WP VBD RB NN NNS IN NN TO NN TO NN TO NNP TO NN TO DT NNP NNP ,:::who talked continuously seventy hours from park to pad to bar to Bellevue to museum to the Brooklyn Bridge,
:::
DT NN NN IN NN NN VBG RB DT NN IN NN NNS IN NN IN NNP NNP IN IN DT NN:::a lost batallion of platonic conversationalists jumping down the stoops off fire escapes off windowsills off Empire State out of the moon
:::
VBG VBG VBG VBG NNS CC NNS CC NNS CC NN VBZ CC NNS IN NNS CC NNS CC NNS ,:::yacketayakking screaming vomiting whispering facts and memories and anecdotes and eyeball kicks and shocks of hospitals and jails and wars,
:::
JJ NNS VBN IN JJ VB IN NN NNS CC NNS IN JJ NNS , NN IN DT NN NN IN DT NN ,:::whole intellects disgorged in total recall for seven days and nights with brilliant eyes, meat for the Synagogue cast on the pavement,
:::
WP VBD IN RB NNP NNP NNP VBG DT NN IN JJ NN NNS IN NNP NNP NNP ,:::who vanished into nowhere Zen New Jersey leaving a trail of ambiguous picture postcards of Atlantic City Hall,
:::
VBG NNP NNS CC NN NNS CC NNS IN NNP IN NN IN NNP " PRP JJ VBN NN ,:::suffering Eastern sweats and Tangerian bone-grindings and migraines of China under junk-withdrawal in Newark's bleak furnished room,
:::
WP VBD IN CC IN IN NN IN DT NN NN VBG WRB TO VB , CC VBD , VBG DT VBN NNS ,:::who wandered around and around at midnight in the railway yard wondering where to go, and went, leaving no broken hearts,
:::
WP VBD NNS IN NNS NNS NNS VBG IN NN IN JJ NNS IN NN NN ,:::who lit cigarettes in boxcars boxcars boxcars racketing through snow toward lonesome farms in grandfather night,
:::
WP VBN NNS NNP NNP NNP IN DT NNP NN CC NN NN IN DT NN RB VBD IN PRP$ NNS IN NNP ,:::who studied Plotinus Poe St John of the Cross telepathy and bop kabbalah because the universe instinctively vibrated at their feet in Kansas,
:::
WP VBN PRP IN DT NNS IN NNP VBG JJ NN NNS WP VBD JJ NN NNS ,:::who loned it through the streets of Idaho seeking visionary indian angels who were visionary indian angels,
:::
WP VBD PRP VBD RB JJ WRB NNP VBD IN JJ NN ,:::who thought they were only mad when Baltimore gleamed in supernatural ecstasy,
:::
WP VBD IN NNS IN DT NNP IN NNP IN DT NN IN NN NN NN NN NN ,:::who jumped in limousines with the Chinaman of Oklahoma on the impulse of winter midnight streetlight smalltown rain,
:::
WP VBD JJ CC JJ IN NNP VBG NN CC NN CC NN , CC VBD DT JJ NN TO VB IN NNP CC NN , DT JJ NN , CC RB VBD NN TO NNP ,:::who lounged hungry and lonesome through Houston seeking jazz or sex or soup, and followed the brilliant Spaniard to converse about America and Eternity, a hopeless task, and so took ship to Africa,
:::
WP VBD IN DT NNS IN NNP VBG VBG IN CC DT NN IN NNS CC DT NN CC NN IN NN VBN IN NN NNP ,:::who disappeared into the volcanoes of Mexico leaving nothing behind but the shadow of dungarees and the larva and ash of poetry scattered in fireplace Chicago,
:::
WP VBD IN DT NNP NNP VBG DT NNP IN NNS CC NNS IN JJ NN NNS JJ IN PRP$ JJ NN VBG IN JJ NNS ,:::who reappeared on the West Coast investigating the FBI in beards and shorts with big pacifist eyes sexy in their dark skin passing out incomprehensible leaflets,
:::
WP VBN NN NNS IN PRP$ NNS VBG DT JJ NN NN IN NN , WP VBN NN NNS IN NNP NNP VBG CC VBG IN DT NNS IN NNP NNP VBD PRP RB , CC VBD RB NNP , CC DT NNP NNP NN RB VBD ,:::who burned cigarette holes in their arms protesting the narcotic tobacco haze of Capitalism, who distributed Supercommunist pamphlets in Union Square weeping and undressing while the sirens of Los Alamos wailed them down, and wailed down Wall, and the Staten Island ferry also wailed,
:::
WP VBD RB VBG IN JJ NN JJ CC VBG IN DT NN IN JJ NNS ,:::who broke down crying in white gymnasiums naked and trembling before the machinery of other skeletons,
:::
WP NN NNS IN DT NN CC VBD IN NN IN NNS IN VBG DT NN CC PRP$ JJ JJ VBG NN CC NN ,:::who bit detectives in the neck and shrieked with delight in policecars for committing no crime but their own wild cooking pederasty and intoxication,
:::
WP VBD IN PRP$ NNS IN DT NN CC VBD VBN IN DT NN VBG NNS CC NNS ,:::who howled on their knees in the subway and were dragged off the roof waving genitals and manuscripts,
:::
WP VB PRP VB VBN IN DT NN IN RB NN , CC VBD IN NN ,:::who let themselves be fucked in the ass by saintly motorcyclists, and screamed with joy,
:::
WP VBD CC VBD VBN IN DT JJ NN , DT NNS , NNS IN NNP CC NNP NN ,:::who blew and were blown by those human seraphim, the sailors, caresses of Atlantic and Caribbean love,
:::
WP VBN IN DT VBG IN DT NNS IN NN CC DT NN IN JJ NNS CC NNS VBG PRP$ NN RB TO NN VB WP MD ,:::who balled in the morning in the evenings in rosegardens and the grass of public parks and cemeteries scattering their semen freely to whomever come who may,
:::
WP VBN RB VBG TO NN CC NN IN IN DT NN IN DT NN IN DT JJ NNP WRB DT JJ CC JJ NN VBD TO VB PRP IN DT NN ,:::who hiccuped endlessly trying to giggle but wound up with a sob behind a partition in a Turkish Bath when the blond & naked angel came to pierce them with a sword,
:::
WP VBD PRP$ NNS TO DT NN JJ NN IN NN DT NN VBD NN IN DT NN NN DT NN VBD NN IN NNS IN IN DT NN CC DT NN VBD NN IN VBZ VBG CC VB IN PRP$ NN CC NN DT JJ JJ NNS IN DT NN " PRP VBP ,:::who lost their loveboys to the three old shrews of fate the one eyed shrew of the heterosexual dollar the one eyed shrew that winks out of the womb and the one eyed shrew that does nothing but sit on her ass and snip the intellectual golden threads of the craftsman's loom,
:::
WP VBN JJ CC NN CC VBD IN DT VBN , CC VBD IN DT NN CC RB DT NN CC VBD VBG IN DT NN IN DT NN IN JJ NN CC VB VBG DT JJ NN IN NN ,:::who copulated ecstatic and insatiate and fell off the bed, and continued along the floor and down the hall and ended fainting on the wall with a vision of ultimate cunt and come eluding the last gyzym of consciousness,
:::
WP VBN DT NNS IN DT NN NNS VBG IN DT NN , CC VBD JJ VBD IN DT VBG CC VBD VBN TO VB DT NN IN DT NN , VBG NNS IN NNS CC JJ IN DT NN ,:::who sweetened the snatches of a million girls trembling in the sunset, and were red eyed in the morning but were prepared to sweeten the snatch of the sunrise, flashing buttocks under barns and naked in the lake,
:::
WP VBD IN VBG IN NNP IN JJ VBN NNS , NN . NN . , JJ NN IN DT NNS , NN CC NNP IN NN TO DT NN IN PRP$ JJ VBZ IN NNS IN JJ NNS CC NN NNS , NN " JJ NNS , IN NNS IN NNS CC IN JJ NNS IN JJ NN RB NN NNS CC RB JJ JJ NN IN NNS , CC NN NNS RB ,:::who went out whoring through Colorado in myriad stolen night-cars, N.C., secret hero of these poems, cocksman and Adonis of Denver—joy to the memory of his innumerable lays of girls in empty lots & diner backyards, moviehouses' rickety rows, on mountaintops in caves or with gaunt waitresses in familiar roadside lonely petticoat upliftings & especially secret gas-station solipsisms of johns, & hometown alleys too,
:::
WP VBN IN IN JJ JJ NNS , VBD VBD IN NNS , VBD IN DT JJ NNP , CC VBD PRP IN IN IN NNS NN IN JJ NN CC NNS IN NNP NNP NN NNS CC VBD TO NN NNS ,:::who faded out in vast sordid movies, were shifted in dreams, woke on a sudden Manhattan, and picked themselves up out of basements hungover with heartless Tokay and horrors of Third Avenue iron dreams & stumbled to unemployment offices,
:::
WP VBD DT NN IN PRP$ NNS JJ IN NN IN DT NN NNS VBG IN DT NN IN DT NNP NNP TO JJ JJ IN NN CC NN ,:::who walked all night with their shoes full of blood on the snowbank docks waiting for a door in the East River to open full of steamheat and opium,
:::
WP VBN JJ JJ NNS IN DT NN NNS IN DT NNP IN DT NN JJ NN IN DT NN CC PRP$ NNS MD VB VBN IN NN IN NN ,:::who created great suicidal dramas on the appartment cliff-banks of the Hudson under the wartime blue floodlight of the moon & their heads shall be crowned with laurel in oblivion,
:::
WP VBD DT NN NN IN DT NN CC VBN DT NN IN DT JJ NN IN DT NNS IN DT NNP ,:::who ate the lamb stew of the imagination or digested the crab at the muddy bottom of the rivers of the Bowery,
:::
WP VBD IN DT NN IN DT NNS IN PRP$ NN JJ IN NNS CC JJ NN ,:::who wept at the romance of the streets with their pushcarts full of onions and bad music,
:::
WP VBD IN NNS VBG IN DT NN IN DT NN , CC VBD IN TO VB NN IN PRP$ NNS , WP VBD IN DT JJ NN IN NNP VBN IN NN IN DT JJ NN VBN IN JJ NNS IN NN ,:::who sat in boxes breathing in the darkness under the bridge, and rose up to build harpsichords in their lofts, who coughed on the sixth floor of Harlem crowned with flame under the tubercular sky surrounded by orange crates of theology,
:::
WP VBD DT NN VBG CC VBG IN JJ NNS WDT IN DT JJ VBG VBD NN IN NN ,:::who scribbled all night rocking and rolling over lofty incantations which in the yellow morning were stanzas of gibberish,
:::
WP VBN JJ NNS NN NN NNS NN NN CC NNS VBG IN DT JJ NN NN ,:::who cooked rotten animals lung heart feet tail borsht & tortillas dreaming of the pure vegetable kingdom,
:::
WP VBD PRP IN NN NNS VBG IN DT NN ,:::who plunged themselves under meat trucks looking for an egg,
:::
WP VBD PRP$ NNS IN DT NN TO NN PRP$ NN IN DT NN IN IN NNP , CC NN NNS VBD IN PRP$ NNS DT NN IN DT JJ NN ,:::who threw their watches off the roof to cast their ballot for an Eternity outside of Time, & alarm clocks fell on their heads every day for the next decade,
:::
WP VB PRP$ NNS NN NNS RB RB , VBD IN CC VBD VBN TO JJ JJ NNS WRB PRP VBD PRP VBD VBG JJ CC VBD ,:::who cut their wrists three times successively unsuccessfully, gave up and were forced to open antique stores where they thought they were growing old and cried,
:::
WP VBD VBN JJ IN PRP$ JJ NN NNS IN NNP NNP IN NNS IN JJ NN CC DT NN NN IN DT NN NNS IN NN CC DT NN NNS IN DT NNS IN VBG CC DT NN NNS IN JJ JJ NNS , CC VBD VB RB IN DT JJ NNS IN JJ NN ,:::who were burned alive in their innocent flannel suits on Madison Avenue amid blasts of leaden verse & the tanked-up clatter of the iron regiments of fashion & the nitroglycerine shrieks of the fairies of advertising & the mustard gas of sinister intelligent editors, or were run down by the drunken taxicabs of Absolute Reality,
:::
WP VBD IN DT NNP NNP DT RB VBD CC VBD RB JJ CC VBN IN DT RB NN IN NN NN NNS CC NNS , RB RB NN JJ NN ,:::who jumped off the Brooklyn Bridge this actually happened and walked away unknown and forgotten into the ghostly daze of Chinatown soup alleyways & firetrucks, not even one free beer,
:::
WP VBD IN IN PRP$ NNS IN NN , VBD IN IN DT NN NN , VBD IN DT JJ NNP , VBD IN NNPS , VBD DT IN DT NN , VBD IN VBN NN RB VBD NN NNS IN JJ JJ CD PRP JJ NN VBD DT NN CC VBD IN VBG IN DT JJ NN , VBZ IN PRP$ NNS CC DT NN IN JJ NN ,:::who sang out of their windows in despair, fell out of the subway window, jumped in the filthy Passaic, leaped on negroes, cried all over the street, danced on broken wineglasses barefoot smashed phonograph records of nostalgic European 1930s German jazz finished the whiskey and threw up groaning into the bloody toilet, moans in their ears and the blast of colossal steamwhistles,
:::
WP VBN RB DT NNS IN DT JJ VBG TO DT JJ " PRP NN NN VB NNP NN NN ,:::who barreled down the highways of the past journeying to each other's hotrod-Golgotha jail-solitude watch Birmingham jazz incarnation,
:::
WP VBD NN NN NNS TO VB IN IN NN VBD DT NN CC PRP VBD DT NN CC PRP VBD DT NN TO VB IN NN ,:::who drove crosscountry seventytwo hours to find out if I had a vision or you had a vision or he had a vision to find out Eternity,
:::
WP VBD TO NNP , WP VBD IN NNP , WP VBD RB TO NNP CC VBD IN JJ , WP VBD IN NNP CC VBD CC VBN IN NNP CC RB VBD RB TO VB IN DT NNP , CC RB NNP VBZ JJ IN PRP$ NNS ,:::who journeyed to Denver, who died in Denver, who came back to Denver & waited in vain, who watched over Denver & brooded & loned in Denver and finally went away to find out the Time, & now Denver is lonesome for her heroes,
:::
WP VBD IN PRP$ NNS IN JJ NNS VBG IN DT JJ " PRP NN CC NN CC NNS , IN DT NN VBN PRP$ NN IN DT NN ,:::who fell on their knees in hopeless cathedrals praying for each other's salvation and light and breasts, until the soul illuminated its hair for a second,
:::
WP VBD IN PRP$ NNS IN NN VBG IN JJ NNS IN JJ NNS CC DT NN IN NN IN PRP$ NNS WP VBD JJ NNS TO NNP ,:::who crashed through their minds in jail waiting for impossible criminals with golden heads and the charm of reality in their hearts who sang sweet blues to Alcatraz,
:::
WP VBN TO NNP TO VB DT NN , CC NNP NNP TO NN NNP CC NNS TO NNS CC NNP NNP TO DT JJ NN CC NNP TO NN TO NN TO DT NN CC JJ ,:::who retired to Mexico to cultivate a habit, or Rocky Mount to tender Buddha or Tangiers to boys or Southern Pacific to the black locomotive or Harvard to Narcissus to Woodlawn to the daisychain or grave,
:::
WP VBD NN NNS VBG DT NN IN NN CC VBD VBN IN PRP$ NN CC PRP$ NNS CC DT NN NN ,:::who demanded sanity trials accusing the radio of hypnotism & were left with their insanity & their hands & a hung jury,
:::
WP VBD NN NN IN NN NN NNP CC RB VBN PRP IN DT NN NNS IN DT NN IN DT JJ NNS CC NN NN IN NN , VBG JJ NN ,:::who threw potato salad at CCNY lecturerson Dadaism and subsequently presented themselves on the granite steps of the madhouse with the shaven heads and harlequin speech of suicide, demanding instantaneous lobotomy,
:::
CC WP VBD VBN RB DT JJ NN IN NN NN NN NN NN JJ NN NN CC NN ,:::and who were given instead the concrete void of insulin Metrazol electricity hydrotherapy psychotherapy occupational therapy pingpong & amnesia,
:::
WP IN JJ NN VBN RB NN JJ NN NN , VBG RB IN NN ,:::who in humorless protest overturned only one symbolic pingpong table, resting briefly in catatonia,
:::
VBG NNS RB RB JJ IN IN DT NN IN NN , CC NNS CC NNS , TO DT JJ NN NN IN DT NNS IN DT NNS IN DT NNP ,:::returning years later truly bald except for a wig of blood, and tears and fingers, to the visible madman doom of the wards of the madtowns of the East,
:::
NNP NNP " PRP NN " PRP CC NN " PRP NN NNS , VBG IN DT NNS IN DT NN , VBG CC VBG IN DT NN NN NNS IN NN , NN IN NN DT NN , NNS VBD TO NN IN JJ IN DT NN ,:::Pilgrim State's Rockland's and Greystone's foetid halls, bickering with the echoes of the soul, rocking and rolling in the midnight solitude-bench dolmen-realms of love, dream of life a nightmare, bodies turned to stone as heavy as the moon,
:::
IN NN RB NN , CC DT JJ JJ NN VBD IN IN DT NN NN , CC DT JJ NN VBD IN CD DT . NNP . CC DT JJ NN VBD IN DT NN IN RB CC DT JJ VBN NN VBN RB TO DT JJ NN IN JJ NN , DT JJ NN VBD VBN IN DT NN NN IN DT NN , CC RB IN JJ , VBG CC DT JJ JJ NN IN NN:::with mother finally *****, and the last fantastic book flung out of the tenement window, and the last door closed at 4 A.M. and the last telephone slammed at the wall in reply and the last furnished room emptied down to the last piece of mental furniture, a yellow paper rose twisted on a wire hanger on the closet, and even that imaginary, nothing but a hopeful little bit of hallucination—
:::
UH , NNP , IN PRP VBP RB JJ NN VBP RB JJ , CC RB PRP " NN RB IN DT JJ NN NN IN NN:::ah, Carl, while you are not safe I am not safe, and now you're really in the total animal soup of time—
:::
CC WP RB VBD IN DT JJ NNS VBN IN DT JJ NN IN DT NN IN DT NN IN DT NN DT NN DT NN CC DT VBG NN ,:::and who therefore ran through the icy streets obsessed with a sudden flash of the alchemy of the use of the ellipse the catalog the meter & the vibrating plane,
:::
WP VBD CC VBN JJ NNS IN NNP CC NNP IN NNS VBN , CC VBN DT NN IN DT NN CD JJ NNS CC VBD DT JJ NNS CC VBN DT NN CC NN IN NN RB VBG IN NN IN NNP NNS FW FW:::who dreamt and made incarnate gaps in Time & Space through images juxtaposed, and trapped the archangel of the soulbetween 2 visual images and joined the elemental verbs and set the noun and dash of consciousness together jumping with sensation of Pater Omnipotens Aeterna Deus
:::
TO VB DT NN CC NN IN JJ JJ NN CC VB IN PRP JJ CC JJ CC VBG IN NN , VBD RB VBG IN DT NN TO VB TO DT NN IN VBD IN PRP$ JJ CC JJ NN ,:::to recreate the syntax and measure of poor human prose and stand before you speechless and intelligent and shaking with shame, rejected yet confessing out the soul to conform to the rhythm of thought in his naked and endless head,
:::
DT NN NN CC NN VB IN NNP , JJ , RB VBG RB RB WP MD VB VBN TO VBP IN NN VB IN NN ,:::the madman bum and angel beat in Time, unknown, yet putting down here what might be left to say in time come after death,
:::
CC VBD JJ IN DT RB NNS IN NN IN DT NN NN IN DT NN CC VBD DT VBG IN NNP " PRP JJ NN IN NN IN DT NN NN NN NN NN NN NN IN VBD DT NNS RB TO DT JJ NN:::and rose incarnate in the ghostly clothes of jazz in the goldhorn shadow of the band and blew the suffering of America's naked mind for love into an eli eli lamma lamma sabacthani saxophone cry that shivered the cities down to the last radio
:::
IN DT JJ NN IN DT NN VBN IN IN PRP$ JJ NNS JJ TO VB DT NN NNS .:::with the absolute heart of the poem butchered out of their own bodies good to eat a thousand years.
:::
:::
#II
:::
WP NN IN NN CC NN VBD JJ PRP$ NNS CC VBD IN PRP$ NNS CC NN .:::What sphinx of cement and aluminium bashed open their skulls and ate up their brains and imagination?
:::
NNP ! NN ! NN ! NN ! NN CC JJ NNS ! NNS VBG IN DT NNS ! NNPS VBG IN NNS ! NNP NNS VBG IN DT NNS !:::Moloch! Solitude! Filth! Ugliness! Ashcans and unobtainable dollars! Children screaming under the stairways! Boys sobbing in armies! Old men weeping in the parks!
:::
NNP ! NNP ! NNP IN NNP ! NNP DT NN ! NNP NNP ! NNP DT JJ NN IN NNS !:::Moloch! Moloch! Nightmare of Moloch! Moloch the loveless! Mental Moloch! Moloch the heavy judger of men!
:::
NNP DT JJ NN ! NNP DT NN JJ NN CC NNP IN NNS ! NNP WP$ NNS VBP NN ! NNP DT JJ NN IN NN ! NNP DT VBN NNS !:::Moloch the incomprehensible prison! Moloch the crossbone soulless jailhouse and Congress of sorrows! Moloch whose buildings are judgement! Moloch the vast stone of war! Moloch the stunned governments!
:::
NNP WP$ NN VBZ JJ NN ! NNP WP$ NN VBZ VBG NN ! NNP WP$ NNS VBP NN NNS ! NNP WP$ NN VBZ DT NN NN ! NNP WP$ NN VBZ DT VBG NN !:::Moloch whose mind is pure machinery! Moloch whose blood is running money! Moloch whose fingers are ten armies! Moloch whose breast is a cannibal dynamo! Moloch whose ear is a smoking tomb!
:::
NNP WP$ NNS VBP DT NN JJ NNS ! NNP WP$ NNS VB IN DT JJ NNS IN JJ NNS ! NNP WP$ NNS NN CC VB IN DT NN ! NNP WP$ NN CC NNS NN DT NNS !:::Moloch whose eyes are a thousand blind windows! Moloch whose skyscrapers stand in the long streets like endless Jehovas! Moloch whose factories dream and choke in the fog! Moloch whose smokestacks and antennae crown the cities!
:::
NNP WP$ NN VBZ JJ NN CC NN ! NNP WP$ NN VBZ NN CC NNS ! NNP WP$ NN VBZ DT NN IN NNS ! NNP WP$ NN VBZ DT NN IN NN NN ! NNP WP$ NN VBZ DT NN !:::Moloch whose love is endless oil and stone! Moloch whose soul is electricity and banks! Moloch whose poverty is the specter of genius! Moloch whose fate is a cloud of sexless hydrogen! Moloch whose name is the Mind!
:::
NNP IN WP NN VB RB ! NNP IN WP NN NN NNS ! NNP IN NNP ! NN IN NNP ! NN CC NN IN NNP !:::Moloch in whom I sit lonely! Moloch in whom I dream angels! Crazy in Moloch! Cocksucker in Moloch! Lacklove and manless in Moloch!
:::
NNP WP VBD PRP$ NN RB ! NNP IN WP NN VBP DT NN IN DT NN ! NNP WP VBN PRP IN IN PRP$ JJ NN ! NNP WP NN VB ! VB IN IN NNP ! NNP VBG IN IN DT NN !:::Moloch who entered my soul early! Moloch in whom I am a consciousness without a body! Moloch who frightened me out of my natural ecstasy! Moloch whom I abandon! Wake up in Moloch! Light streaming out of the sky!
:::
NNP ! NNP ! NN NNS ! NN NNS ! NN NNS ! JJ NNS ! JJ NNS ! JJ NNS ! JJ NN ! NN NNS ! JJ NNS !:::Moloch! Moloch! Robot apartments! invisable suburbs! skeleton treasuries! blind capitals! demonic industries! spectral nations! invincible madhouses! granite cocks! monstrous bombs!
:::
PRP VBD PRP$ NNS VBG NNP TO NNP ! NNS , NNS , NNS , NNS ! VBG DT NN TO NNP WDT VBZ CC VBZ RB IN PRP !:::They broke their backs lifting Moloch to Heaven! Pavements, trees, radios, tons! lifting the city to Heaven which exists and is everywhere about us!
:::
NNS ! NNS ! NNS ! NNS ! NN ! VBN RB DT NNP NN !:::Visions! omens! hallucinations! miracles! ecstacies! gone down the American river!
:::
NNS ! NNS ! NNS ! NNS ! DT JJ NN IN JJ NN !:::Dreams! adorations! illuminations! religions! the whole boatload of sensitive bullshit!
:::
NNS ! IN DT NN ! VBZ CC NNS ! VBN RB DT NN ! NNS ! NNS ! VBZ ! NN NNS " NN NNS CC NNS ! NNPS ! NNP VBZ ! NNP NN ! RB IN DT NNS IN NNP !:::Breakthroughs! over the river! flips and crucifixions! gone down the flood! Highs! Epiphanies! Despairs! Ten years' animal screams and suicides! Minds! New loves! Mad generation! down on the rocks of Time!
:::
JJ RB NN IN DT NN ! PRP VBD PRP DT ! DT JJ NNS ! DT RB VBZ ! PRP VBD NN ! PRP VBD IN DT NN ! TO NN ! VBG ! VBG NNS ! IN TO DT NN ! IN DT NN !:::Real holy laughter in the river! They saw it all! the wild eyes! the holy yells! They bade farewell! They jumped off the roof! to solitude! waving! carrying flowers! Down to the river! into the street!
:::
:::
NN:::III
:::
NNP NNP ! NN " NN IN PRP IN NN:::Carl Solomon! I'm with you in Rockland
:::
WRB PRP " NN NN IN NN VBP:::where you're madder than I am
:::
NN " NN IN PRP IN NN:::I'm with you in Rockland
:::
WRB PRP MD VB JJ:::where you must feel strange
:::
NN " NN IN PRP IN NN:::I'm with you in Rockland
:::
WRB PRP VB DT NN IN PRP$ NN:::where you imitate the shade of my mother
:::
NN " NN IN PRP IN NN:::I'm with you in Rockland
:::
WRB PRP " NN VBN PRP$ NN NNS:::where you've murdered your twelve secretaries
:::
NN " NN IN PRP IN NN:::I'm with you in Rockland
:::
WRB PRP NN IN DT JJ NN:::where you laugh at this invisible humour
:::
NN " NN IN PRP IN NN:::I'm with you in Rockland
:::
WRB PRP VBP JJ NNS IN DT JJ JJ NN:::where we are great writers on the same dreadful typewriter
:::
NN " NN IN PRP IN NN:::I'm with you in Rockland
:::
WRB PRP$ NN VBZ VB JJ CC VBZ VBD IN DT NN:::where your condition has become serious and is reported on the radio
:::
NN " NN IN PRP IN NN:::I'm with you in Rockland
:::
WRB DT NNS IN DT NN DT RB VB DT NNS IN DT NNS:::where the faculties of the skull no longer admit the worms of the senses
:::
NN " NN IN PRP IN NN:::I'm with you in Rockland
:::
WRB PRP NN DT NN IN DT NNS IN DT NN IN NN:::where you drink the tea of the breasts of the spinsters of Utica
:::
NN " NN IN PRP IN NN:::I'm with you in Rockland
:::
WRB PRP NN IN DT NNS IN PRP$ NNS DT NNS IN DT NNP:::where you pun on the bodies of your nurses the harpies of the Bronx
:::
NN " NN IN PRP IN NN:::I'm with you in Rockland
:::
WRB PRP VB IN DT NN IN PRP " NN VBG DT NN IN JJ NN IN DT NN:::where you scream in a straightjacket that you're losing the game of actual pingpong of the abyss
:::
NN " NN IN PRP IN NN:::I'm with you in Rockland
:::
WRB PRP NN IN DT NN NN DT NN VBZ JJ CC JJ PRP MD RB VB RB IN DT VBN NN:::where you bang on the catatonic piano the soul is innocent and immortal it should never die ungodly in an armed madhouse
:::
NN " NN IN PRP IN NN:::I'm with you in Rockland
:::
WRB NN JJR NNS MD RB NN PRP$ NN TO PRP$ NN RB IN PRP$ NN TO DT NN IN DT NN:::where fifty more shocks will never return your soul to its body again from its pilgrimage to a cross in the void
:::
NN " NN IN PRP IN NN:::I'm with you in Rockland
:::
WRB PRP VB PRP$ NNS IN NN CC NN DT NNP JJ NN IN DT JJ JJ NN:::where you accuse your doctors of insanity and plot the Hebrew socialist revolution against the fascist national Golgotha
:::
NN " NN IN PRP IN NN:::I'm with you in Rockland
:::
WRB PRP MD NN DT NNS IN NNP NNP CC VB PRP$ VBG JJ NNP IN DT JJ NN:::where you will split the heavens of Long Island and resurrect your living human Jesus from the superhuman tomb
:::
NN " NN IN PRP IN NN:::I'm with you in Rockland
:::
WRB EX VBP NN NN JJ NNS DT RB VBG DT JJ NN IN DT NNP:::where there are twentyfive thousand mad comrades all together singing the final stanzas of the Internationale
:::
NN " NN IN PRP IN NN:::I'm with you in Rockland
:::
WRB PRP NN CC NN DT VBN NNPS IN PRP$ NN DT VBN NNPS IN NNS DT NN CC VBD " NN VB PRP VB:::where we hug and kiss the United States under our bedsheets the United States that coughs all night and won't let us sleep
:::
NN " NN IN PRP IN NN:::I'm with you in Rockland
:::
WRB PRP NN IN VBN IN IN DT NN IN PRP$ JJ NNS " NNS VBG IN DT NN PRP " NN VB TO NN JJ NNS DT NN VBZ PRP JJ NNS NN IN JJ NNS VB IN IN VBN NN IN NN DT JJ NN VBZ RB IN NN VB PRP$ NN PRP " NN JJ:::where we wake up electrified out of the coma by our own souls' airplanes roaring over the roof they've come to drop angelic bombs the hospital illuminates itself   imaginary walls collapse   O skinny legions run outside   O starry-spangled shock of mercy the eternal war is here   O victory forget your underwear we're free
:::
NN " NN IN PRP IN NN:::I'm with you in Rockland
:::
IN PRP$ NNS PRP VB VBG IN DT NN IN DT NN IN NNP IN NNS TO DT NN IN PRP$ NN IN DT JJ NN:::in my dreams you walk dripping from a sea-journey on the highway across America in tears to the door of my cottage in the Western night